<h1><%= make.name %> Details</h1>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <p><strong>Country of Origin:</strong> <%= make.origin %></p>
        </div>
        <div class="col-md-6">
            <!-- Assuming that you might have other details to show in the future, this second column is left empty for now. -->
        </div>
    </div>
    
    <hr>
    <h3>About <%= make.name %>:</h3>
    <p><%= make.summary %></p>

    <hr>
    <a href="/catalog/makes" class="btn btn-primary">Back to Makes</a>

    <hr>
    <p>All vehicles by <%= make.name %> in inventory:</p>
    <% if (vehicle_list.length > 0) { %>
        <div class="list-group">
        <% for (let vehicle of vehicle_list) { %>
            <div class="list-group-item">
                <h4 class="mb-2"><%= vehicle.make.name %> <%= vehicle.model %></h4>
            
                <div class="row">
                    <!-- First Column -->
                    <div class="col-md-6">
                        <p><strong>Year:</strong> <%= vehicle.year %></p>
                        <p><strong>Category:</strong> <%= vehicle.category.name %></p> <!-- Assuming category has a name or similar field when populated -->
                        <p><strong>VIN:</strong> <%= vehicle.vin ? vehicle.vin : 'N/A' %></p>
                        <p><strong>Condition:</strong> <%= vehicle.condition %></p>
                    </div>
            
                    <!-- Second Column -->
                    <div class="col-md-6">
                        <p><strong>Milage:</strong> <%= vehicle.milage %></p>
                        <p><strong>Price:</strong> <%= vehicle.formatted_price %></p>
                        <p><strong>Color:</strong> <%= vehicle.color %></p>
                        <p><a href="<%= vehicle.url %>">Details</a></p>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
   <% } else { %>
    <p>Currently no vehicles in stock</p>
    <% } %>